@charset "UTF-8";
body#bodyGeneral {
  font-size: 1.2vw;
  font-family: 'Piazzolla', serif; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    body#bodyGeneral {
      font-size: 3vw; } }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    body#bodyGeneral {
      font-size: 2.5vw; } }

/* Ajustar margenes a valor 0*/
* {
  padding: 0;
  margin: 0; }

/* Color background */
body#bodyGeneral {
  overflow-x: hidden;
  position: relative;
  background-color: #DFDFDF; }

p {
  color: #14161F;
  font-weight: 600; }

h1 {
  color: #560075; }

h2 {
  color: #560075; }

h3 {
  color: #560075; }

footer {
  background-color: #cbacf1; }

.seccionMultimediaBase {
  background-color: #cbacf1; }

.soporteSeccionBase {
  background-color: #cbacf1; }

.seccionInsideReferencias, .seccionBaseReferencias {
  background-color: #e6e6e6; }

.seccionBaseReferencias {
  background-color: #e6e6e6; }

.borderReferencias {
  background-color: #cbacf1; }

.soporteSquareInside {
  background-color: #e6e6e6; }

.tituloHelp {
  color: #757CA3; }

.multimediaInsideContent {
  background-color: #e6e6e6; }

.seccionLoginInside {
  background-color: #fff; }

.tituloLogin {
  color: #560075; }

.cuadroLogin {
  color: #14161F; }

.helpLogin {
  color: #0000FF; }

.border {
  background-color: #cbacf1; }

.leftSection__BeneficiosTitulo {
  color: #560075; }

.section__InsideIndex, .cardSection__InsideIndex {
  background-color: #e6e6e6; }

.header__NoSelectedNav {
  color: #14161F; }

.rightSectionTwo__parrafo {
  color: #E2170A; }

.seccionContactoInside {
  color: #14161F;
  background-color: #fff; }

.formContacto {
  color: #14161F; }

.soyuntitulo {
  color: #e6e6e6; }

#error404bg {
  background-color: #14161F; }

.nosoyuntitulo {
  color: #e6e6e6; }

.nosoyuntitulo2 {
  color: #e6e6e6; }

.header__SelectedNav {
  color: #fff; }

.continueHelp {
  color: #62088C; }

.leftSection__Lista {
  color: #14161F; }

.cardContentFlex {
  background-color: #cbacf1; }

.hyperlink {
  color: #14161F; }

.sendButton {
  color: #e6e6e6;
  background-color: #62088C; }

.squarewhite {
  background-color: #cbacf1; }

.flexLeftSectionReferencias, .flexCenterSectionReferencias {
  background-color: #fff; }

.squarewhite::placeholder {
  color: #fff; }

/* INICIO NAV */
/* Tamaño y posicion del logo */
.header__LogoNav {
  height: 6vw;
  width: 6vw;
  padding-right: 2vw;
  position: relative; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .header__LogoNav {
      width: 18vw;
      height: 18vw; } }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .header__LogoNav {
      width: 15vw;
      height: 15vw; } }

/* Quitar subrayado de enlace, colores, tamaño y grosor del nav seleccionado */
.header__NoSelectedNav {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2vw;
  padding: 2vw 2vw 2vw 3vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .header__NoSelectedNav {
      font-size: 3vw; } }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .header__NoSelectedNav {
      font-size: 2vw; } }

.header__SelectedNav {
  font-weight: 700;
  font-size: 1.2vw;
  border-radius: 2vw;
  background-color: #cbacf1;
  padding: 0.75vw 2vw;
  box-shadow: 0vw 0vw 0.5vw 0vw #555454; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .header__SelectedNav {
      font-size: 3vw; } }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .header__SelectedNav {
      font-size: 2vw; } }

/* FIN NAV */
/* Grid area, quitar subrayado, background-color, display flex, direction, espacios entre ellos y centrado header */
header {
  grid-area: header;
  padding: 0.2vw 0.5vw 0.2vw 2vw; }

nav {
  display: flex;
  align-items: center;
  min-height: 8vh; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    nav {
      min-height: 5vh; } }

.enlaces-menu {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8vw; }

header {
  position: sticky;
  top: 0;
  z-index: 1;
  transition: 0.6s; }

.borderHeader {
  border: 0.1vw solid black;
  margin: 0; }

.header__NoSelectedNavText {
  color: #14161F; }

.sticky {
  background-color: #fff;
  padding: 0vw 0.5vw 0vw 2vw;
  transition: 0.6s; }

.sticky nav .header__LogoNav {
  height: 5vw;
  width: 5vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .sticky nav .header__LogoNav {
      height: 16vw;
      width: 16vw; } }

.sticky .enlaces-menu .header__NoSelectedNav {
  padding: 0.5vw 2vw 0.5vw 3vw;
  font-size: 1vw; }

.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  transition: 0.2s 0.1s; }

.ham:hover {
  transform: rotate(360deg); }

.ham span {
  display: block;
  background-color: #14161F;
  height: 1.2vw;
  width: 7vw;
  margin: 1vw auto;
  border-radius: 0.1vw; }

@keyframes muestraMenu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0; }
  .ham {
    display: block;
    position: absolute;
    top: 10vw;
    right: 2.5vw; }
  .enlaces-menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none; }
  .enlaces-menu a {
    width: 100%;
    text-align: center;
    padding: 20px; }
  .sticky nav .ham {
    top: 10vw; }
  .sticky .enlaces-menu .header__NoSelectedNav {
    padding: 0.5vw 2vw 0.5vw 3vw;
    font-size: 3vw; }
  .header__LogoNav {
    left: 37.5vw; } }

.enlaces-menu.activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both; }

.br-1.animado {
  transform: rotate(-45deg) translate(-10px, 8px); }

.br-2.animado {
  opacity: 0; }

.br-3.animado {
  transform: rotate(45deg) translate(-10px, -8px); }

/*------ INICIO FOOTER ------*/
/* Tamaño logos redes sociales */
.faLogos {
  font-size: 4vw; }

.imageInside {
  text-align: center; }

.footerFlex__Inside__CoderLogoSize {
  width: 4vw;
  height: 4vw; }

/* Establecer padding y position de los logos redes sociales*/
.footerFlex__Inside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%; }

.footerFlex {
  display: flex;
  justify-content: space-between;
  padding: 1vw 0vw 1vw 2vw; }

footer {
  padding: 1vw; }

/*------ FIN FOOTER ------*/
/*------ INICIO INDEX ------*/
/* Color de background, margin y borde circular secciones index inside */
.section__InsideIndex, .cardSection__InsideIndex {
  margin: 0.3vw;
  border-radius: 0.8vw;
  padding: 3vw; }

.cardSection__InsideIndex {
  width: 50%; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .cardSection__InsideIndex {
      width: 91%;
      margin: 1vw; } }

/* Color titulo, tamaño y grosor beneficios index */
.leftSection__BeneficiosTitulo {
  font-weight: 800; }

/* Color, tamaño y grosor de contenido de lista beneficios y servicios index */
.leftSection__Lista {
  font-weight: 900;
  list-style-type: none; }

/* Tamaños alto, ancho, display flex, transition y justify centrado */
.leftSection___YoutubeIndex {
  width: 50vw;
  height: 25vw;
  transition: height 2s, width 1s; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .leftSection___YoutubeIndex {
      width: 70vw;
      height: 50vw; } }

.rightSection__ImageSizeIndex {
  height: 20vw;
  width: 30vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .rightSection__ImageSizeIndex {
      height: 35vw;
      width: 55vw; } }

/* Borde circular, backgroun-color*/
.border {
  border: 0.12vw solid black;
  border-radius: 0.5vw;
  padding: 3vw; }

.rightSection__ImageInside {
  text-align: center; }

.centerSection__ImageInside {
  text-align: center; }

.rightSectionTwo__ImageInside {
  text-align: center; }

.centerSection__ImageSizeIndex {
  height: 20vw;
  width: 30vw; }

.youtubeIndexFlex {
  text-align: end; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .youtubeIndexFlex {
      text-align: center; } }

.flexRightSection, .flexCenterSectionReferencias {
  display: flex; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .flexRightSection, .flexCenterSectionReferencias {
      display: block; } }

.flexLeftSection, .flexLeftSectionReferencias {
  display: flex;
  flex-direction: row-reverse; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .flexLeftSection, .flexLeftSectionReferencias {
      display: block; } }

.flexContent {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  padding: 1vw; }

.sliderFlex {
  width: 90vw;
  margin: auto;
  text-align: center;
  overflow-x: hidden;
  border-radius: 1vw;
  border: 0.12vw solid black; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .sliderFlex {
      width: 90vw; } }

.sliderFlex img {
  padding: 0;
  width: 90vw;
  height: 30vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .sliderFlex img {
      width: 90vw; } }

.sliderFlex ul {
  display: flex;
  width: 90vw;
  padding: 0;
  animation: slider 15s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in; }

.sliderFlex li {
  list-style: none;
  width: 90vw; }

@keyframes slider {
  0% {
    margin-left: 0; }
  30% {
    margin-left: 0; }
  35% {
    margin-left: -100%; }
  65% {
    margin-left: -100%; }
  70% {
    margin-left: -200%; }
  100% {
    margin-left: -200%; } }

.cardIndex {
  font-size: 7vw; }

.cardFlex {
  display: flex;
  justify-content: space-around;
  margin: 1vw;
  flex-wrap: wrap; }

.cardContentFlex {
  text-align: center;
  border-radius: 1vw;
  height: 8vw;
  width: 12vw;
  padding: 3vw;
  box-shadow: 0vw 0vw 0.5vw 0vw black; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .cardContentFlex {
      width: 30vw;
      height: 12vw;
      margin: 1vw; } }

.cardContentFlexMini {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1vw;
  height: 5vw;
  width: 10vw;
  box-shadow: 0vw 0vw 0.5vw 0vw black;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  border: 0.0vw solid black; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .cardContentFlexMini {
      flex-wrap: wrap;
      width: 25vw;
      height: 8vw;
      margin: 2vw; } }

.cardContentFlex:hover {
  box-shadow: 0vw 0vw 1vw 0vw black; }

.cardContentFlexMini:hover {
  box-shadow: 0vw 0vw 1vw 0vw black; }

.hyperlink {
  text-decoration: none;
  height: 8vw;
  width: 12vw; }

.parrafoCenter {
  text-align: center; }

.subTitleContent {
  text-align: center; }

.modalContainerResponsive {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden; }

.modalContainerScannability {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden; }

.modalContainerTypography {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden; }

.modalContainerLoadingSpeed {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden; }

.modalResponsive {
  width: 40vw;
  height: 30vw;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 0.7s;
  transform: translateY(0%);
  border-radius: 0.2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .modalResponsive {
      width: 80vw;
      height: 60vw; } }

.modalScannability {
  width: 40vw;
  height: 30vw;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 0.7s;
  transform: translateY(0%);
  border-radius: 0.2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .modalScannability {
      width: 80vw;
      height: 60vw; } }

.modalTypography {
  width: 40vw;
  height: 30vw;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 0.7s;
  transform: translateY(0%);
  border-radius: 0.2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .modalTypography {
      width: 80vw;
      height: 60vw; } }

.modalLoadingSpeed {
  width: 40vw;
  height: 30vw;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 0.7s;
  transform: translateY(0%);
  border-radius: 0.2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .modalLoadingSpeed {
      width: 80vw;
      height: 60vw; } }

.closeResponsive {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background: #c44a4a;
  color: #fff;
  line-height: 2vw;
  cursor: pointer;
  border-radius: 50%; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .closeResponsive {
      width: 4vw;
      height: 4vw;
      line-height: 3.7vw; } }

.closeScannability {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background: #c44a4a;
  color: #fff;
  line-height: 2vw;
  cursor: pointer;
  border-radius: 50%; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .closeScannability {
      width: 4vw;
      height: 4vw;
      line-height: 3.7vw; } }

.closeTypography {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background: #c44a4a;
  color: #fff;
  line-height: 2vw;
  cursor: pointer;
  border-radius: 50%; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .closeTypography {
      width: 4vw;
      height: 4vw;
      line-height: 3.7vw; } }

.closeLoadingSpeed {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background: #c44a4a;
  color: #fff;
  line-height: 2vw;
  cursor: pointer;
  border-radius: 50%; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .closeLoadingSpeed {
      width: 4vw;
      height: 4vw;
      line-height: 3.7vw; } }

.modalCloseResponsive {
  transform: translateY(-200%); }

.modalCloseScannability {
  transform: translateY(-200%); }

.modalCloseTypography {
  transform: translateY(-200%); }

.modalCloseLoadingSpeed {
  transform: translateY(-200%); }

.modal > img {
  height: 50%; }

.modalSVGSize {
  height: 10vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .modalSVGSize {
      height: 20vw; } }

.multimediaContent {
  border-radius: 1vw;
  border: 0.3vw solid #560075;
  display: flex;
  justify-content: center; }

.multimediaSVGContent {
  border-radius: 1vw;
  height: 18vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .multimediaSVGContent {
      height: 40vw; } }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .sizeImageIndex {
    width: 88vw; } }

/*------ INICIO SECCIÓN MULTIMEDIA ------*/
/* Background-color, borde y margen seccion base*/
.seccionMultimediaBase {
  border-radius: 0.8vw;
  margin: 0.25%; }

/* Imagen multimedia */
.imgMultimedia {
  width: 30vw;
  height: 30vw;
  border-radius: 1vw; }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .imgMultimedia {
      width: 40vw;
      height: 40vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .imgMultimedia {
      width: 50vw;
      height: 50vw; } }

.youtubeMultimedia {
  width: 30vw;
  height: 30vw;
  border-radius: 1vw; }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .youtubeMultimedia {
      width: 40vw;
      height: 40vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .youtubeMultimedia {
      width: 50vw;
      height: 50vw; } }

/* Display flex, contenido dividido con wrap y contenido centrado secciones multimedia inside*/
.multimediaInside, .multimediaInsideContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* Background, border, flex, texto centrado, contenido eje Y centrado, contenido eje x centrado, contenido wrap
alto, ancho y margen multimedia inside contenido */
.multimediaInsideContent {
  border-radius: 1vw;
  text-align: center;
  align-content: center;
  height: 40vw;
  width: 40vw;
  margin: 2vw 2vw;
  padding: 2vw; }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .multimediaInsideContent {
      height: 60vw;
      width: 70vw;
      flex-direction: column;
      align-items: center; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .multimediaInsideContent {
      height: 80vw;
      width: 70vw;
      flex-direction: column;
      align-items: center; } }

/*------ FIN SECCIÓN MULTIMEDIA ------*/
/*------ INICIO SECCIÓN REFERENCIAS ------*/
/* Posicion, alto, background, border y margin seccion base referencias*/
.seccionBaseReferencias {
  height: auto; }

/* Borde, background y borde circular referencias*/
.borderReferencias {
  border: 0.2vw solid black;
  border-radius: 1vw;
  margin: 1vw; }

/* Display flex y justify con espacio alrededor*/
.flexReferencias {
  display: flex;
  justify-content: space-around; }

/* background color, marge y borde circular*/
.seccionInsideReferencias, .seccionBaseReferencias {
  margin: 1vw;
  border-radius: 1vw;
  padding: 2vw; }

/* Quitar puntos de lista dentro de la tabla de referencias */
.listaTabla {
  list-style-type: none; }

/*vista mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .flexReferencias {
    display: flex;
    flex-direction: column; }
  .multimediaContentRefC {
    width: 98%; }
  .multimediaContentRefC {
    width: 0%;
    right: 31vw; } }

.logosReferenciasR {
  width: 20vw; }

.logosReferenciasCh {
  width: 20vw; }

.logosReferenciasMS {
  width: 15vw; }

.flexContentLeft {
  padding: 2vw;
  width: 66%; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .flexContentLeft {
      width: 98%;
      text-align: center;
      padding: 0vw; } }

.flexContentLeftPad, .flexContentLeftPadC {
  padding: 1vw 0vw 0.7vw 0vw; }

.flexLeftSectionReferencias {
  border-radius: 1vw;
  margin: 1.5vw;
  justify-content: space-around; }

.flexCenterSectionReferencias {
  border-radius: 1vw;
  margin: 1.5vw;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center; }

.multimediaContentRef, .multimediaContentRefC {
  border-radius: 1vw;
  width: 40%;
  display: flex;
  justify-content: center; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .multimediaContentRef, .multimediaContentRefC {
      width: 100%; } }

.flexContentCenter {
  width: 66%;
  text-align: center; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .flexContentCenter {
      width: 100%; } }

.flexContentLeftPad, .flexContentLeftPadC {
  padding: 1vw 0vw 0.7vw 0vw; }

.flexContentLeftPadC {
  text-align: center; }

.multimediaContentRefC {
  text-align: center;
  width: 100%;
  padding-left: 2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .multimediaContentRefC {
      width: 98%; } }

/*------ INICIO SECCIÓN CONTACTO ------*/
/* Display flex, column, Color, tamaño y grosor cuadro login */
.seccionContactoInside {
  font-weight: 700;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 22vw;
  padding: 2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .seccionContactoInside {
      padding-left: 3vw;
      width: 80vw;
      height: 45vw; } }

/* alto y posicion seccion contacto base*/
.seccionContactoBase {
  height: 25.8vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1vw; }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .seccionContactoBase {
      height: 35vw;
      margin: 5vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .seccionContactoBase {
      margin: 5vw;
      height: 50vw; } }

/* Colores, tamaños, padding, alineaciones, margin y displays*/
.formContacto {
  font-weight: 700;
  width: 40vw;
  padding-top: 3vw; }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .formContacto {
      width: 65vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .formContacto {
      width: 50vw; } }

.formContactoInfo {
  width: 60%;
  height: 10vw;
  display: flex;
  text-align: center;
  flex-direction: row; }

.formContactoInfo div {
  margin-top: 3vw;
  display: inline-block; }

.formPropositoDiv {
  padding-top: 4.15vw;
  display: inline-block;
  width: 39%;
  height: 5.85vw;
  text-align: center; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .formPropositoDiv {
      display: block; } }

.formCheckbox {
  width: 100%;
  display: block;
  text-align: center; }

.tituloContacto {
  font-size: 1.5vw;
  margin-bottom: 1vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .tituloContacto {
      font-size: 4vw; } }

.formTop {
  display: flex;
  justify-content: space-around; }

.formTopLeft {
  display: flex;
  flex-direction: column;
  color: #560075; }

.formSquareWhite {
  width: 13vw;
  height: 2vw;
  border-radius: 1vw;
  background-color: #cbacf1; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .formSquareWhite {
      width: 35vw;
      height: 4vw; } }

.formSelection {
  width: 12vw;
  height: 2.5vw;
  border-radius: 1vw;
  background-color: #cbacf1;
  font-size: 1.2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .formSelection {
      width: 25vw;
      height: 4vw;
      font-size: 3vw; } }

.formTopRight {
  display: flex;
  align-items: center;
  margin-top: 2vw; }

.formBottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 6vw; }

.checkboxSize {
  width: 1.5vw;
  height: 1.5vw;
  margin: 0.2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .checkboxSize {
      width: 4vw;
      height: 4vw; } }

.formBtn {
  width: 4vw;
  height: 2vw;
  border-radius: 1vw;
  background-color: #cbacf1;
  font-size: 1.2vw;
  margin: 0.2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .formBtn {
      width: 10vw;
      height: 6vw;
      font-size: 3vw; } }

.checkboxText {
  font-size: 1.4vw;
  margin: 0.2vw; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .checkboxText {
      font-size: 3vw; } }

/*------ FIN SECCIÓN CONTACTO ------*/
/*------ INICIO SECCIÓN SOPORTE ------*/
/* Color y grosor titulo soporte ayuda */
.tituloHelp {
  font-weight: 800; }

/* Color, tamaño y grosor enlace continuar ayuda */
.continueHelp {
  font-weight: 600; }

/* Tamaño de iconos en soporte */
.faSoporte {
  font-size: 7vw; }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .faSoporte {
      font-size: 10vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .faSoporte {
      font-size: 15vw; } }

/* Background, position, margin y border seccion base soporte*/
.soporteSeccionBase {
  position: relative;
  margin: 2vw 1vw 2vw 1vw;
  border-radius: 1vw;
  padding: 1vw; }

/* Display flex, distribuir con espacios*/
.soporteSquare {
  display: flex;
  justify-content: space-around; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .soporteSquare {
      flex-direction: column;
      align-items: center; } }

/* Background, Borde circular, display flex, texto centrado, contenido alineado al centro, contenido centrado (jc), texto acorde al cuadro
, alto y ancho */
.soporteSquareInside {
  border-radius: 1vw;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 20vw;
  width: 30vw; }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .soporteSquareInside {
      width: 26vw;
      height: 34vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .soporteSquareInside {
      width: 70vw;
      margin: 2vw;
      height: 30vw; } }

/*------ FIN SECCIÓN SOPORTE ------*/
/*------ INICIO SECCIÓN LOGIN ------*/
/* Posicion y altura seccion login base */
.seccionLoginBase {
  position: relative;
  height: 30vw;
  display: flex;
  justify-content: center;
  margin: 2vw; }
  @media screen and (min-width: 768px) and (max-width: 1239px) {
    .seccionLoginBase {
      height: 50vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .seccionLoginBase {
      height: 92vw; } }

/* Posicion, background, border, alto y ancho seccion login inside*/
.seccionLoginInside {
  border-radius: 1vw;
  padding: 2vw;
  border: 0.2vw solid #560075;
  margin: 2vw 2vw 2.3vw 2vw; }
  @media screen and (min-width: 768px) and (max-width: 1239px) {
    .seccionLoginInside {
      width: 50vw;
      height: 50vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .seccionLoginInside {
      width: 92vw;
      margin: 2vw 2vw 6vw 2vw; } }

/* Color, grosor y position de login */
.tituloLogin {
  font-weight: 800; }

/* Color, tamaño y grosor cuadro login */
.cuadroLogin {
  font-weight: 700; }

/* Margin, Color azul y subrayado quitado login*/
.helpLogin {
  text-decoration: none;
  font-size: 1.4vw; }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .helpLogin {
      font-size: 4vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .helpLogin {
      font-size: 4vw; } }

/* Display inline-block, texto centrado y tamaño del contenedor*/
.formContactoInfo {
  width: 60%;
  height: 10vw;
  display: inline-block;
  text-align: center; }

/* padding y margin  */
.formLoginAccount {
  font-size: 2vw;
  align-items: center;
  padding: 2vw; }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .formLoginAccount {
      padding-left: 8vw;
      font-size: 2.5vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .formLoginAccount {
      padding-left: 2vw;
      font-size: 5.5vw; } }

.squarewhite {
  height: 3.4vw;
  width: 25vw;
  border-radius: 1vw;
  margin: 0.2vw;
  font-size: 1.3vw;
  color: #fff;
  text-align: center; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .squarewhite {
      height: 7vw;
      width: 60vw;
      display: block;
      font-size: 4vw;
      margin: 0.4vw; } }

.sendButton {
  height: 3vw;
  width: 20vw;
  border-radius: 1vw;
  cursor: pointer;
  margin: 0.72vw;
  font-size: 1.2vw; }
  @media screen and (min-width: 768px) and (max-width: 1239px) {
    .sendButton {
      height: 4vw;
      width: 6vw; } }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .sendButton {
      height: 8vw;
      width: 15vw;
      font-size: 3vw; } }

/* Display flex, contenido al final y margen */
.formLoginSend {
  justify-content: flex-end;
  display: flex; }

.formLoginAccount {
  display: flex;
  flex-direction: column;
  align-content: center; }

.logoLogin {
  height: 14vw;
  width: 14vw; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .logoLogin {
      height: 20vw;
      width: 20vw; } }

.sectionLeftLoginFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.parrafoLogin {
  font-size: 2vw;
  text-align: center; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .parrafoLogin {
      font-size: 3vw; } }

/*------ FIN SECCIÓN LOGIN ------*/
/* Display Desktop */
@media only screen and (min-width: 1240px) {
  #gridHome {
    display: grid;
    grid-template-areas: "header" "questionSection" "antiBootstrap" "disenoWeb" "desarrolloBackend" "securityWeb" "clientInteraction" "metodobenSection" "serverWeb" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-column-gap: 0.2vw;
    grid-row-gap: 0.2vw;
    margin: 0vw 0.2vw 0.2vw 0.2vw; }
  /* Grid areas */
  section#questionSection {
    grid-area: questionSection; }
  section#antiBootstrap {
    grid-area: antiBootstrap; }
  section#securityWeb {
    grid-area: securityWeb; }
  section#disenoWeb {
    grid-area: disenoWeb; }
  section#metodobenSection {
    grid-area: metodobenSection; }
  section#serverWeb {
    grid-area: serverWeb; }
  section#clientInteraction {
    grid-area: clientInteraction; }
  footer {
    grid-area: footer; } }

/* vista entre desktop y mobile */
@media only screen and (min-width: 768px) and (max-width: 1239px) {
  #gridHome {
    display: grid;
    grid-template-areas: "header" "questionSection" "antiBootstrap" "disenoWeb" "desarrolloBackend" "securityWeb" "clientInteraction" "metodobenSection" "serverWeb" "footer"; }
  /* Grid areas */
  section#questionSection {
    grid-area: questionSection; }
  section#antiBootstrap {
    grid-area: antiBootstrap; }
  section#securityWeb {
    grid-area: securityWeb; }
  section#disenoWeb {
    grid-area: disenoWeb; }
  section#metodobenSection {
    grid-area: metodobenSection; }
  section#serverWeb {
    grid-area: serverWeb; }
  section#clientInteraction {
    grid-area: clientInteraction; }
  footer {
    grid-area: footer; } }

/*vista mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  #gridHome {
    display: grid;
    grid-template-areas: "header" "questionSection" "antiBootstrap" "disenoWeb" "desarrolloBackend" "securityWeb" "clientInteraction" "metodobenSection" "serverWeb" "footer";
    grid-auto-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 2vw;
    margin: 2vw; }
  /* Grid areas */
  section#questionSection {
    grid-area: questionSection; }
  section#antiBootstrap {
    grid-area: antiBootstrap; }
  section#securityWeb {
    grid-area: securityWeb; }
  section#disenoWeb {
    grid-area: disenoWeb; }
  section#metodobenSection {
    grid-area: metodobenSection; }
  section#serverWeb {
    grid-area: serverWeb; }
  section#clientInteraction {
    grid-area: clientInteraction; }
  footer {
    grid-area: footer; } }

/* Grid Multimedia*/
#gridMultimedia {
  display: grid;
  grid-template-areas: "header" "sectionMultimediaGeneral" "footer";
  grid-template-columns: 100%; }

section#sectionMultimediaGeneral {
  grid-area: sectionMultimediaGeneral; }

/* Grid Referencias */
#gridReferencias {
  display: grid;
  grid-template-areas: "header header" "flexSectionReferenciasTop flexSectionReferenciasRight" "flexSectionReferenciasBottom flexSectionReferenciasRight" "footer footer";
  grid-template-columns: 60% 40%;
  grid-template-rows: auto; }

section#flexSectionReferenciasTop {
  grid-area: flexSectionReferenciasTop; }

section#flexSectionReferenciasBottom {
  grid-area: flexSectionReferenciasBottom; }

section#flexSectionReferenciasRight {
  grid-area: flexSectionReferenciasRight; }

section#seccionReferencias {
  grid-area: seccionReferencias; }

/*vista mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  #gridReferencias {
    display: grid;
    grid-template-areas: "header" "flexSectionReferenciasTop" "flexSectionReferenciasRight" "flexSectionReferenciasBottom" "footer";
    grid-template-columns: 100%; } }

/* Grid Contacto */
#gridContacto {
  grid-template-areas: "header" "sectionContactoBase" "footer"; }

#sectionContactoBase {
  grid-area: sectionContactoBase; }

#gridLogIn {
  display: grid;
  grid-template-areas: "header header" "sectionLeftLogin sectionRightLogin" "footer footer";
  grid-template-columns: 50% 50%; }

section#sectionLeftLogin {
  grid-area: sectionLeftLogin; }

section#sectionRightLogin {
  grid-area: sectionRightLogin; }

/*vista mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  #gridLogIn {
    display: grid;
    grid-template-areas: "header" "sectionLeftLogin" "sectionRightLogin" "footer";
    grid-template-columns: 100%; } }

.soyuntitulo {
  font-size: 8vw; }

#error404bg {
  font-family: 'Press Start 2P', cursive; }

.flexBaseError404 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.flexInsideError404 {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  height: 24vw; }

.flexInside2Error404 {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin: 2vw; }

.imageNotFound404 {
  width: 8vw;
  height: 8vw; }

.nosoyuntitulo {
  font-size: 4vw; }

.nosoyuntitulo2 {
  font-size: 2vw; }
