$base-font-weight: 700;
$size-logo-desktop: 6vw;
$size-logo-desktop-sticky: 5vw;
$size-logo-mobile-sticky: 16vw;
$size-logo-mobile: 18vw;
$padding-Logo: 0.2vw;
$navSizeDesktop: 1.2vw;
$navSizeDesktopSticky: 1vw;
$navSizeMobileSticky: 3vw;
$navSizeMobile: 3vw;

/* INICIO NAV */
/* Tamaño y posicion del logo */
.header__LogoNav {
	height: $size-logo-desktop;
	width: $size-logo-desktop;
	padding-right: 2vw;

	@media only screen and (min-width:0px) and (max-width:1239px) {
		width: $size-logo-mobile;
		height: $size-logo-mobile;
	}
	position: relative;
}

/* Quitar subrayado de enlace, colores, tamaño y grosor del nav seleccionado */
.header__NoSelectedNav {
	font-weight: $base-font-weight;
	text-decoration: none;
	font-size: $navSizeDesktop;
	padding: 2vw 2vw 2vw 3vw;

	@media only screen and (min-width:0px) and (max-width:1239px) {
		font-size: $navSizeMobile;
	}
}

.header__SelectedNav {
	font-weight: $base-font-weight;
	font-size: $navSizeDesktop;
	border-radius: 2vw;
	background-color: $insideColor;
	padding: 0.75vw 2vw;
	box-shadow: 0vw 0vw 0.5vw 0vw rgb(85, 84, 84);

	@media only screen and (min-width:0px) and (max-width:1239px) {
		font-size: $navSizeMobile;
	}
}

/* FIN NAV */
/* Grid area, quitar subrayado, background-color, display flex, direction, espacios entre ellos y centrado header */
header {
	grid-area: header;
	padding: 0.2vw 0.5vw 0.2vw 2vw;
}

nav{
	display: flex;
	align-items: center;
	min-height: 8vh;
	@media only screen and (min-width:0px) and (max-width:1239px) {
		min-height: 5vh;
	}
}
.enlaces-menu{
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 0.8vw;
}
header {
	position: sticky;
	top: 0;
	z-index: 1;
	transition: 0.6s;
}

.borderHeader {
	border: 0.1vw solid black;
	margin: 0;
}

.header__NoSelectedNavText {
	color: $black;
}
.sticky{
	background-color: $white;
	padding: 0vw 0.5vw 0vw 2vw;
	transition: 0.6s;
}
.sticky nav .header__LogoNav{
	height: $size-logo-desktop-sticky;
	width: $size-logo-desktop-sticky;
	@media only screen and (min-width:0px) and (max-width:1239px) {
		height: $size-logo-mobile-sticky;
		width: $size-logo-mobile-sticky;
	}
}
.sticky .enlaces-menu .header__NoSelectedNav{
	padding: 0.5vw 2vw 0.5vw 3vw;
	font-size: $navSizeDesktopSticky;
}

.ham{
	display: none;
	cursor: pointer;
	border: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
	transition: 0.2s 0.1s;
}
.ham:hover{
	transform: rotate(360deg);
}
.ham span{
	display: block;
	background-color: $black;
	height: 1.2vw;
	width: 7vw;
	margin: 1vw auto;
	border-radius: 0.1vw;
}
@keyframes muestraMenu {
	from{opacity: 0;}
	to{opacity: 1;}
}
// DISPOSITIVOS MOVILES
@media (max-width:1239px){
	nav{
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 0;
	}
	.ham{
		display: block;
		position: absolute;
		top: 8vw;
		right: 2.5vw;
	}
	.enlaces-menu{
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 50vh;
		margin: 0;
		padding: 0;
		width: 100%;
		display: none;
	}
	.enlaces-menu a{
		width: 100%;
		text-align: center;
		padding: 20px;
	}
	.sticky nav .ham{
		top: 8vw;
	}
	.sticky .enlaces-menu .header__NoSelectedNav{
		padding: 0.5vw 2vw 0.5vw 3vw;
		font-size: $navSizeMobileSticky;
	}
	.header__LogoNav{
		left: 37.5vw;
	}
}

.enlaces-menu.activado{
	display: flex;
	animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado{
	transform: rotate(-45deg) translate(-10px,8px);
}

.br-2.animado{
	opacity: 0;
}

.br-3.animado{
	transform: rotate(45deg) translate(-10px, -8px);
}