$base-font-weight: 700;
$size-logo-desktop: 6vw;
$size-logo-desktop-sticky: 5vw;
$size-logo-mobile: 18vw;
$size-logo-tablet: 15vw;
$padding-Logo: 0.2vw;
$navSizeDesktop: 1.2vw;
$navSizeDesktopSticky: 1vw;
$navSizeMobile: 3vw;
$navSizeTablet: 2vw;

/* INICIO NAV */
/* Tamaño y posicion del logo */
.header__LogoNav {
	height: $size-logo-desktop;
	width: $size-logo-desktop;
	padding-right: 2vw;

	@media only screen and (min-width:0px) and (max-width:767px) {
		width: $size-logo-mobile;
		height: $size-logo-mobile;
	}

	@media only screen and (min-width:768px) and (max-width:1239px) {
		width: $size-logo-tablet;
		height: $size-logo-tablet;
	}

	position: relative;
}

/* Quitar subrayado de enlace, colores, tamaño y grosor del nav seleccionado */
.header__NoSelectedNav {
	font-weight: $base-font-weight;
	text-decoration: none;
	font-size: $navSizeDesktop;
	padding: 2vw 2vw 2vw 3vw;

	@media only screen and (min-width:0px) and (max-width:767px) {
		font-size: $navSizeMobile;
	}

	@media only screen and (min-width:768px) and (max-width:1239px) {
		font-size: $navSizeTablet;
	}
}

.header__SelectedNav {
	font-weight: $base-font-weight;
	font-size: $navSizeDesktop;
	border-radius: 2vw;
	background-color: $insideColor;
	padding: 0.75vw 2vw;
	box-shadow: 0vw 0vw 0.5vw 0vw rgb(85, 84, 84);

	@media only screen and (min-width:0px) and (max-width:767px) {
		font-size: $navSizeMobile;
	}

	@media only screen and (min-width:768px) and (max-width:1239px) {
		font-size: $navSizeTablet;
	}
}

/* FIN NAV */
/* Grid area, quitar subrayado, background-color, display flex, direction, espacios entre ellos y centrado header */
header {
	grid-area: header;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 0.8vw;
	padding: 0.2vw 0.5vw 0.2vw 2vw;
}

header {
	position: sticky;
	top: 0;
	z-index: 1;
	transition: 0.6s;
}

.borderHeader {
	border: 0.1vw solid black;
	margin: 0;
}

.header__NoSelectedNavText {
	color: $black;
}
.sticky{
	background-color: $white;
	padding: 0vw 0.5vw 0vw 2vw;
	transition: 0.6s;
}
.sticky .header__LogoNav{
	height: $size-logo-desktop-sticky;
	width: $size-logo-desktop-sticky;
}
.sticky .header__NoSelectedNav{
	padding: 0.5vw 2vw 0.5vw 3vw;
	font-size: $navSizeDesktopSticky;
}