$centrado: center;
/*------ INICIO INDEX ------*/
/* Color de background, margin y borde circular secciones index inside */
.leftSection__InsideIndex{
	margin: 0.3vw;
	border-radius: 0.8vw;
	padding: 3vw;
}
/* Color titulo, tamaño y grosor beneficios index */
.leftSection__BeneficiosTitulo{
	font-weight: 800;
}
/* Color, tamaño y grosor de contenido de lista beneficios y servicios index */
.leftSection__Lista{
	font-weight: 900;
	list-style-type: none;
}
/* Tamaños alto, ancho, display flex, transition y justify centrado */
.leftSection___YoutubeIndex{
	width: 50vw;
	height: 25vw;
    @media only screen and (min-width:0px) and (max-width:767px){
		width: 70vw;
        height: 50vw;
	}
	transition: height 2s, width 1s;
}
.rightSection__ImageSizeIndex{
    height: 20vw; width: 30vw;
    @media only screen and (min-width:0px) and (max-width:767px){
		height: 35vw; width: 55vw;
	}
}
/* Borde circular, backgroun-color*/
.border {
   border: 0.12vw solid black;
   border-radius: 0.5vw;
   padding: 3vw;
}
@each $position in right, center {
	.#{$position}Section__ImageInside { 
		text-align: $centrado;
	 }
}
.rightSectionTwo__ImageInside{
	text-align: $centrado;
}
.centerSection__ImageSizeIndex{
	height: 20vw; width: 30vw;
}
.youtubeIndexFlex{
	text-align: end;
	@media only screen and (min-width:0px) and (max-width:767px){
		text-align: center;
	}
}
.flexRightSection{
	display: flex;
	@media only screen and (min-width:0px) and (max-width:767px){
		display: block;
	}
}
.flexLeftSection{
	display: flex;
	flex-direction: row-reverse;
	@media only screen and (min-width:0px) and (max-width:767px){
		display: block;
	}
}
// Flex section derecha video
.flexContent{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	text-align: center;
	padding: 1vw;
}
.sliderFlex{
	width: 90vw;
	margin: auto;
	text-align: center;
	overflow-x: hidden;
	border-radius: 1vw;
	border: 0.12vw solid black;
	@media only screen and (min-width:0px) and (max-width:767px){
		width: 90vw;
	}
}
.sliderFlex img{
	padding: 0;
	width: 90vw;
	height: 30vw;
	@media only screen and (min-width:0px) and (max-width:767px){
		width: 90vw;
	}
}
.sliderFlex ul{
	display: flex;
	width: 90vw;
	padding: 0;

	 animation: slider 15s infinite;
	 animation-direction: alternate;
	 animation-timing-function: ease-in;
}
.sliderFlex li{
	list-style: none;
	width: 90vw;
}
@keyframes slider {
	0% {margin-left: 0; }
	30%{margin-left: 0; }

	35%{margin-left: -100%;}
	65%{margin-left: -100%;}

	70%{margin-left: -200%;}
	100%{margin-left: -200%;}
}
.cardIndex{
	font-size: 7vw;
}
.cardFlex{
	display: flex;
	justify-content: space-around;
	margin: 1vw;
}
.cardContentFlex{
	text-align: center;
	border-radius: 1vw;
	height: 8vw;
	width: 12vw;
	padding: 3vw;
	box-shadow: 0vw 0vw 0.5vw 0vw black;
}
.hyperlink{
	text-decoration: none;
	height: 8vw;
	width: 12vw;
}
.cardContentFlex:hover{
	box-shadow: 0vw 0vw 1vw 0vw black;
}