/*------ INICIO SECCIÓN REFERENCIAS ------*/
/* Quitar puntos de lista dentro de la tabla de referencias */
/*vista mobile y tablet*/
@media only screen and (min-width:0px) and (max-width:1239px) {
	.multimediaContentRefC {
		width: 98%;
	}

	.multimediaContentRefC {
		width: 0%;
		right: 31vw;
	}
}

.logosReferenciasR {
	width: 20vw;
}

.logosReferenciasCh {
	width: 20vw;
}

.logosReferenciasMS {
	width: 15vw;
}

.flexContentLeft {
	padding: 2vw;
	width: 66%;

	@media only screen and (min-width:0px) and (max-width:1239px) {
		width: 98%;
		text-align: center;
		padding: 0vw;
	}
}

.flexContentLeftPad {
	padding: 1vw 0vw 0.7vw 0vw;
}

.flexLeftSectionReferencias {
	@extend .flexLeftSection;
	border-radius: 1vw;
	margin: 1.5vw;
	justify-content: space-around;
}

.flexCenterSectionReferencias {
	@extend .flexRightSection;
	border-radius: 1vw;
	margin: 1.5vw;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.multimediaContentRef {
	border-radius: 1vw;
	width: 40%;
	display: flex;
	justify-content: center;

	@media only screen and (min-width:0px) and (max-width:1239px) {
		width: 100%;
	}
}

.flexContentCenter {
	width: 66%;
	text-align: center;

	@media only screen and (min-width:0px) and (max-width:1239px) {
		width: 100%;
	}
}

.flexContentLeftPad {
	padding: 1vw 0vw 0.7vw 0vw;
}

.flexContentLeftPadC {
	@extend .flexContentLeftPad;
	text-align: center;
}

.multimediaContentRefC {
	@extend .multimediaContentRef;
	text-align: center;
	width: 100%;
	padding-left: 2vw;

	@media only screen and (min-width:0px) and (max-width:1239px) {
		width: 98%;
	}
}