$parrafoColor: #14161F;
$tituloColor: #560075;
$insideColor: #cbacf1;
$inside2Color: #e6e6e6;
$gray: #757CA3;
$black: #14161F;
$blue: #0000FF;
$green: #008f39;
$purple: #62088C;
$red: #E2170A;
p{
    color: $parrafoColor;
	font-weight: 600;
}
h1{
    color: $tituloColor;
}
h2{
    color: $tituloColor;
}
h3{
    color: $tituloColor;
}
footer{
    background-color:$insideColor;
}
.seccionMultimediaBase{
    background-color: $insideColor;
}
.soporteSeccionBase{
	background-color: $insideColor;
}
.seccionInsideReferencias{
	background-color: $inside2Color;
}
.seccionBaseReferencias{
	background-color: $inside2Color;
}
.borderReferencias {
    background-color: $insideColor;
}
.soporteSquareInside{
	background-color: $inside2Color;
}
.tituloHelp{
	color: $gray;
}
.multimediaInsideContent{
	background-color: $inside2Color;
}
.seccionLoginInside{
	background-color: $inside2Color;
}
.tituloLogin{
	color: $black;
}
.cuadroLogin{
	color: $parrafoColor;
}
.helpLogin{
	color: $blue;
}
.border {
    background-color: $insideColor;
}
.leftSection__BeneficiosTitulo{
	color: $tituloColor;
}
.section__InsideIndex{
	background-color: $inside2Color;
}
.header__NoSelectedNav{
	color: $black;
}
header{
	background-color: $insideColor;
}
.rightSectionTwo__parrafo{
	color: $red;
}
.seccionContactoInside{
	color: $parrafoColor;
	background-color: $inside2Color;
}
.formContacto{
	color: $parrafoColor;
}
.soyuntitulo{
	color: $inside2Color;
}
#error404bg{
	background-color: $black;
}
.nosoyuntitulo{
	color: $inside2Color;
}
.nosoyuntitulo2{
	color: $inside2Color;
}
.header__SelectedNav{
	color: $purple;
}
.continueHelp{
	color: $purple;
}
.leftSection__Lista{
	color: $parrafoColor;
}
.cardContentFlex{
	background-color: $insideColor;
}
.hyperlink{
	color: $black;
}