/* Display Desktop */
@media only screen and (min-width:1240px) {
	#gridHome {
		display: grid;
		grid-template-areas:
			"header"
			"questionSection"
			"antiBootstrap"
			"disenoWeb"
			"desarrolloBackend"
			"securityWeb"
			"clientInteraction"
			"metodobenSection"
			"serverWeb"
			"footer";
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-column-gap: 0.2vw;
		grid-row-gap: 0.2vw;
		margin: 0vw 0.2vw 0.2vw 0.2vw;
	}

	/* Grid areas */
	section#questionSection {
		grid-area: questionSection;
	}

	section#antiBootstrap {
		grid-area: antiBootstrap;
	}

	section#securityWeb {
		grid-area: securityWeb;
	}

	section#disenoWeb {
		grid-area: disenoWeb;
	}

	section#metodobenSection {
		grid-area: metodobenSection;
	}

	section#serverWeb {
		grid-area: serverWeb;
	}

	section#clientInteraction {
		grid-area: clientInteraction;
	}

	footer {
		grid-area: footer;
	}
}

/* vista entre desktop y mobile */
@media only screen and (min-width:768px) and (max-width:1239px) {
	#gridHome {
		display: grid;
		grid-template-areas:
			"header"
			"questionSection"
			"antiBootstrap"
			"disenoWeb"
			"desarrolloBackend"
			"securityWeb"
			"clientInteraction"
			"metodobenSection"
			"serverWeb"
			"footer";
	}

	/* Grid areas */
	section#questionSection {
		grid-area: questionSection;
	}

	section#antiBootstrap {
		grid-area: antiBootstrap;
	}

	section#securityWeb {
		grid-area: securityWeb;
	}

	section#disenoWeb {
		grid-area: disenoWeb;
	}

	section#metodobenSection {
		grid-area: metodobenSection;
	}

	section#serverWeb {
		grid-area: serverWeb;
	}

	section#clientInteraction {
		grid-area: clientInteraction;
	}

	footer {
		grid-area: footer;
	}
}

/*vista mobile*/
@media only screen and (min-width:0px) and (max-width:767px) {
	#gridHome {
		display: grid;
		grid-template-areas:
		"header"
		"questionSection"
		"antiBootstrap"
		"disenoWeb"
		"desarrolloBackend"
		"securityWeb"
		"clientInteraction"
		"metodobenSection"
		"serverWeb"
		"footer";
		grid-auto-columns: 100%;
		grid-template-rows: auto;
		grid-row-gap: 2vw;
		margin: 2vw;
	}

	/* Grid areas */
	section#questionSection {
		grid-area: questionSection;
	}

	section#antiBootstrap {
		grid-area: antiBootstrap;
	}

	section#securityWeb {
		grid-area: securityWeb;
	}

	section#disenoWeb {
		grid-area: disenoWeb;
	}

	section#metodobenSection {
		grid-area: metodobenSection;
	}

	section#serverWeb {
		grid-area: serverWeb;
	}

	section#clientInteraction {
		grid-area: clientInteraction;
	}

	footer {
		grid-area: footer;
	}
}

/* Grid Multimedia*/
#gridMultimedia {
	display: grid;
	grid-template-areas:
		"header"
		"sectionMultimediaGeneral"
		"footer";
	grid-template-columns: 100%;
}

section#sectionMultimediaGeneral {
	grid-area: sectionMultimediaGeneral;
}

/* Grid Referencias */
#gridReferencias {
	display: grid;
	grid-template-areas:
		"header header"
		"flexSectionReferenciasTop flexSectionReferenciasRight"
		"flexSectionReferenciasBottom flexSectionReferenciasRight"
		"footer footer";
		grid-template-columns: 60% 40%;
		grid-template-rows: auto;
}
section#flexSectionReferenciasTop{
	grid-area: flexSectionReferenciasTop;
}
section#flexSectionReferenciasBottom{
	grid-area: flexSectionReferenciasBottom;
}
section#flexSectionReferenciasRight{
	grid-area: flexSectionReferenciasRight;
}
section#seccionReferencias {
	grid-area: seccionReferencias;
}

/* Grid Contacto */
#gridContacto {
	grid-template-areas:
		"header"
		"sectionContactoBase"
		"footer";
}

#sectionContactoBase {
	grid-area: sectionContactoBase;
}
#gridLogIn{
	display: grid;
	grid-template-areas:
	"header header"
	"sectionLeftLogin sectionRightLogin"
	"footer footer";
	grid-template-columns: 50% 50%;
}
section#sectionLeftLogin{
	grid-area: sectionLeftLogin;
}
section#sectionRightLogin{
	grid-area: sectionRightLogin;
}