/* Display Desktop */
@media only screen and (min-width:1240px){
	#gridHome{
	display: grid;
	grid-template-areas: 
	"header"
	"questionSection"
	"antiBootstrap"
	"javascriptSection"
	"scssSection"
	"metodobenSection"
	"serverWeb"
	"footer";
	grid-template-columns:100%;
	grid-template-rows: auto ;
	grid-column-gap: 0.2vw;
   	grid-row-gap: 0.2vw;
   	margin: 0vw 0.2vw 0.2vw 0.2vw;
}
/* Grid areas */
section#leftSection{
	grid-area: leftSection;
}
section#rightTopSection{
	grid-area: rightTopSection;
}
section#rightBottomSection{
	grid-area: rightBottomSection;
}
section#centerSection{
	grid-area: centerSection;
}
section#leftSection_Two{
	grid-area: leftSection_Two;
}
section#rightSection_Two{
	grid-area: rightSection_Two;
}
footer{
	grid-area: footer;
}
}
/* vista entre desktop y mobile */
@media only screen and (min-width:768px) and (max-width:1239px){
	#gridHome{
		display: grid;
		grid-template-areas: 
		"header"
		"questionSection"
		"antiBootstrap"
		"javascriptSection"
		"scssSection"
		"metodobenSection"
		"serverWeb"
		"footer";
	}
	section#questionSection{
		grid-area: questionSection;
	}
	section#antiBootstrap{
		grid-area: antiBootstrap;
	}
	section#javascriptSection{
		grid-area: javascriptSection;
	}
	section#scssSection{
		grid-area: scssSection;
	}
	section#metodobenSection{
		grid-area: metodobenSection;
	}
	section#serverWeb{
		grid-area: serverWeb;
	}
	footer{
		grid-area: footer;
	}
}
/*vista mobile*/
@media only screen and (min-width:0px) and (max-width:767px){
	#gridHome{
		display: grid;
		grid-template-areas: 
		"header"
		"questionSection"
		"antiBootstrap"
		"javascriptSection"
		"scssSection"
		"metodobenSection"
		"serverWeb"
		"footer";
		grid-auto-columns: 100%;
		grid-template-rows: auto;
   		grid-row-gap: 2vw;
   		margin: 2vw;
	}
	header{
		grid-area: header;
	}
	/* Grid areas */
	section#questionSection{
	grid-area: questionSection;
	}
	section#antiBootstrap{
		grid-area: antiBootstrap;
	}
	section#javascriptSection{
		grid-area: javascriptSection;
	}
	section#scssSection{
		grid-area: scssSection;
	}
	section#metodobenSection{
		grid-area: metodobenSection;
	}
	section#serverWeb{
		grid-area: serverWeb;
	}
	footer{
		grid-area: footer;
	}
}
/* Grid Multimedia*/
#gridMultimedia{
	display: grid;
	grid-template-areas: 
	"header"
	"sectionMultimediaGeneral"
	"footer";
	grid-template-columns:100%;
   	}
section#sectionMultimediaGeneral{
	grid-area: sectionMultimediaGeneral;
}
/* Grid Referencias */
#gridReferencias{
	grid-template-areas: 
	"header"
	"seccionReferencias"
	"footer";
	grid-template-areas: 100%;
}
section#seccionReferencias{
	grid-area: seccionReferencias;
}
/* Grid Contacto */
#gridContacto{
	grid-template-areas: 
	"header"
	"sectionContactoBase"
	"footer";
}
#sectionContactoBase{
	grid-area: sectionContactoBase;
}